@model IEnumerable<FellowshipOneAPIDemo.Models.Person>

@{
    ViewBag.Title = "Household";
}
<div style="width:100%;">
    <h2 style="float:left;">Household Members of @ViewBag.Name</h2>
</div>

<br class="last"/>

   <div class="search-results">   
    @if (ViewBag.Count > 0)
    {
        
        foreach (var person in Model)
        { 
        <div class="search-row">
            <div class="search-col">@person.FirstName</div>
            <div class="search-col">@person.LastName</div>
            <div class="search-col">@Html.ActionLink("Communications", "Communications", "Person", new { id = person.Id }, null)</div>
            <br class="last" />
        </div>
            
        }
    }
    else
    {
        <div style="width:100%;text-align:center;">No communications found</div>
    }
  </div>